/* ==========================================================================
   Global: Inpage
   ========================================================================== */

.inpage {
  display: flex;
  flex-direction: column;
  flex: 1;

  .inpage__header {
    @extend .antialiased;
    background: $base-color;
    color: #fff;
    padding: $global-spacing 0;
    position: relative;
    z-index: 99999;
    transition: all 0.24s ease 0s;

    > .inner {
      @extend .row, .row--centered;
      display: flex;
    }
  }

  &__headline {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @include heading(1.5rem);
  }

  &__subtitle {
    @extend .heading-alt;
    position: relative;
    color: rgba($base-font-color, 0.64);
    font-size: 1rem;
    line-height: 1.25rem;
    margin: ($global-spacing / 4) 0;

    &:first-child {
      margin-top: -1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .inpage__actions {
    flex: 1 1 auto;
    text-align: right;
    font-size: 0;
    white-space: nowrap;
  }

  &__body {
    flex: 1;
    padding: ($global-spacing * 3) 0;

    > .inner {
      @extend .row, .row--centered;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}


/* Modifiers
   ========================================================================== */

.inpage--alt {
  .inpage__body {
    position: relative;
    padding: 0;

    > .inner {
      padding: 0;
      max-width: none;
    }
  }
}
