/* ==========================================================================
   Global: Inpage
   ========================================================================== */

.inpage {
  &__header {
    @extend .antialiased;
    position: relative;
    color: #fff;
    padding: ($global-spacing * 2) 0;
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    > * {
      position: relative;
      z-index: 2;
    }

    > .inner {
      @extend .row, .row--centered;
    }

    &::after {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: $base-border-width;
      content: '';
      background: rgba(#fff, 0.12);
    }

    @include media(medium-up) {
      padding: ($global-spacing * 3) 0;
    }
  }

  &__headline {
    @include column(12/12);

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include column(10/12);
    }
  }

  &__title {
    @extend .heading, .heading--xlarge;
  }

  &__subtitle {
    position: relative;
    @extend .heading-alt;
    color: rgba($base-font-color, 0.64);
    font-size: 0.875rem;
    line-height: 1rem;
    margin: ($global-spacing / 4) 0;

    &:first-child {
      margin-top: -1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1rem;
      line-height: 1.25rem;

      &:first-child {
        margin-top: -1.5rem;
      }
    }
  }

  &__body {
    padding: ($global-spacing * 2) 0;

    > .inner {
      @extend .row, .row--centered;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      padding: ($global-spacing * 3) 0;
    }
  }
}