/* ==========================================================================
   Overlays
   ========================================================================== */


/* Data title
   ========================================================================== */

*[data-title-rel]:hover,
*[data-title]:hover {
  position: relative;
}

*[data-title-rel]:hover,
*[data-title]:hover {
  &:after {
    @extend .antialiased, .truncated;
    content: attr(data-title);
    position: absolute;
    left: 50%;
    bottom: 100%;
    z-index: 1400;
    width: auto;
    max-width: 14rem;
    padding: 0 0.5rem;
    background: rgba($base-color, 0.8);
    border-radius: $base-border-radius;
    margin-bottom: 0.25rem;
    transform: translate(-50%, 0);
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    font-family: $base-font-family;
    font-weight: $base-font-regular;
    font-style: $base-font-style;
  }
}


/* Popover
   ========================================================================== */

.popover {
  @extend .antialiased;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 1rem;
  pointer-events: none;
  max-width: 18rem;
  width: auto;
  // Just to ensure that there are no flickers before it is positioned.
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 2px 1px rgba($base-color, 0.16);
  color: tint($base-color, 16%);
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-family: $base-font-family;
}

.placeholder__fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.placeholder__message {
  position: absolute;
  text-align: center;
  top: 40%;
  padding: $global-spacing;
  margin: 0 auto;
  width: 100%;
  background-color: #FFF;
}