[Unit]
Description=uWSGI instance to serve cba-api
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/cba-api/flask_version
Environment="PATH=/home/ubuntu/cba-api/flask_version/venv/bin"
ExecStart=/home/ubuntu/cba-api/flask_version/venv/bin/uwsgi --ini cba-api.ini

[Install]
WantedBy=multi-user.target