$cba-color: rgb(245, 136, 136);

@import "components/cba/analysis";
@import "components/cba/config";
@import "components/cba/snapshots";

// Nav stuff
.nav-pills  {
    .nav-link {
        background-color: #00000000;
        border: 1px solid #6c757d55;
        margin-top: 5px;
        color: #6c757d;
        &.active {
            background-color: rgba($cba-color, 1.0);
            font-weight: bold;
        }
        &:hover {
            background-color: rgba($cba-color, 0.3);
        }
    }
}

// Mapping Stuff
.map__media {
    width: 100%;
    background: $base-alpha-color;
    height: 1000px;
}

.map-container {
    height: 800px;
}

// Legend  ----------------------------------------------------------
.legend label, .legend span {
  display:block;
  float:left;
  width: 10%;
  height:15px;
  text-align:center;
  font-size:9px;
  color:#808080;
}

// Layer Coloring Selector ------------------------------------------

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    display: block;
    z-index: 1;
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    padding: 10px;
}
    
.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
    
.map-overlay-inner fieldset {
    border: none;
    padding: 0;
    margin: 0 0 10px;
}
    
.map-overlay-inner fieldset:last-child {
    margin: 0;
}
    
.map-overlay-inner select {
    width: 100%;
}
    
.map-overlay-inner label {
    display: block;
    font-weight: bold;
    margin: 0 0 5px;
}
    
.map-overlay-inner button {
    // display: block;
    display: flex;
    padding: 0px;
    &:empty { 
        display: inline-block;
    }
    width: 36px;
    height: 20px;
    border: none;
    cursor: pointer;

    &:hover {
        // box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
        border: 2px solid rgba(0, 0, 0, 0.1);
        height: 20px;
    }

    div {
        width: 18px;
        height: 100%;
    }
}
    
.map-overlay-inner button:focus {
    outline: none;
}
    
//  Other Stuff
.cba_tab_header { 
    font-size: 1.15rem;
    color: $base-font-color;
    &:hover {
        color: $base-font-color;
        font-weight: bold;
    }
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
    min-width: 200px;

    .category-row {
        display: flex;
        .circle {
            height: 15px;
            width: 15px;
            margin: auto auto;
            padding: 0px;
        }
        .label {
            padding: 0px;
            margin: 0px;
            width: 80%;
        }
    }
}
     
.legend h4 {
    margin: 0 0 10px;
}
     
.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10%;
}
