/* ==========================================================================
   Charts
   ========================================================================== */

svg.chart {
  // Avoids that the chart grows because of the gap left by inline elements.
  display: block;
}

.chart-popover-animate {
  transition: left 0.25s ease 0s, top 0.25s ease 0s;
}

.piechart-arc > path {
  stroke: #FEFEFE;
  stroke-width: 0.2px;
  transition: stroke-width .2s;
  &:hover {
    stroke-width: 2.2px;
  }
}

.piechart-popover {
  font-weight: $base-font-bold;
}
