## Dependencies
node_modules
bower_components
.sass-cache
test/bower_components
app/assets/styles/_collecticons.scss

## Build
.DS_Store
dist
.tmp
npm-debug.log

## Locals
app/assets/scripts/config/local.js
.resources/

## no swaps
*/**/*.swp
*/**/*.swo

## transifex env / python virtualenv
.env
env
.transifexrc
## pyenv
.python-version