// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none !important;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

/* ==========================================================================
   Global
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after, input[type="search"] {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
  background: tint($base-color, 96%);
}

// Badges

.badge {
  display: inline-block;
  min-width: 0.85rem;
  padding: 0.225rem 0.5rem;
  font-size: 0.75rem;
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  text-transform: uppercase;
  line-height: 0.85rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: rgba($base-color, 0.4);
  border-radius: $global-rounded;
  margin-left: 0.25rem;
  @extend .antialiased;
}

#main-frame {
  border: none;
  display: block;
  position: absolute;
  height: calc(100% - 4rem); /* 100% - height header */
  width: 100%;
}
/* Links
   ========================================================================== */

a {
  cursor: pointer;
  color: $secondary-color;
  // text-decoration: none;
  @include transition(opacity 0.2s ease 0s);
  @include transform(translateZ(0));
}

a:visited {
  color: $secondary-color;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}


/* Flag
   ========================================================================== */

.flag {
  display: table;
  width: 100%;
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }
}

.flag__image {
  padding-right: 1rem;

  > * {
    display: block;
    max-width: none;
  }

  .flag--rev & {
    padding-right: 0;
    padding-left: 1rem;
  }
}

.flag__body {
  width: 100%;
}

/* Rows
   ========================================================================== */

.row {
  @extend .clearfix;
  padding-left: $global-padding;
  padding-right: $global-padding;
  @include media(small-up) {
    padding-left: $global-padding*2;
    padding-right: $global-padding*2;
  }
  @include media(xlarge-up) {
    padding-left: $global-padding*4;
    padding-right: $global-padding*4;
  }
}

.row--centered {
  max-width: $row-max-width;
  margin-left: auto;
  margin-right: auto;
}


/* ==========================================================================
   Structure
   ========================================================================== */


/* Header
   ========================================================================== */

.site-header {
  @extend .antialiased;
  background: $primary-color;
  color: #fff;
  padding: 0.8rem 0 0.7rem;
  position: relative;
  z-index: 99999;

  a {
    color: inherit;
  }

  > .inner {
    @extend .row;
    @extend .row--centered;
  }

  .site {
    &__headline {
      float: left;
      line-height: 1.25rem;
      padding: 0.325rem 0;

      * {
        vertical-align: top;
        display: inline-block;
      }

      img {
        width: auto;
        height: 1.25rem;
      }

      span {
        @extend .visually-hidden;
      }
    }

    &__title {
      margin: 0;

      strong {
        display: inline-block;
        font-size: 0.75rem;
        text-transform: uppercase;
        padding: 0 0.25rem;
        background: rgba($secondary-color, 0.64);
        border-radius: $global-radius;
        margin-left: 0.5rem;
        line-height: 1.25rem;
      }
    }

    /* Main navigation */
    &__nav {
      float: left;
      clear: both;
      text-align: center;
      margin-top: 1rem;
      white-space: nowrap;

      &.show-menu,
      &.show-search {
        margin-top: 1rem;
      }

      @include media(medium-up) {
        float: right;
        margin-top: 0;
        clear: none;
      }

      // vv Menu
      .toggle-menu {
        position: absolute;
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
        top: 1rem;
        right: $global-padding;
        z-index: 1;

        a {
          color: #fff;
          text-decoration: none;
          &:before {
            @extend .collecticons-circle-information;
          }
        }

        span {
          @extend .visually-hidden;
        }

        @include media(small-up) {
          right: $global-padding * 2;
        }

        @include media(large-up) {
          display: none;
        }
      }

      .menu-wrapper {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: opacity 0.16s ease 0s, max-height 0.16s ease 0s, visibility 0.16s linear 0s;
      }

      .global-menu {
        @extend .clearfix;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          margin: 0 ($global-padding / 2) 0 0;
          float: left;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .global-menu-item {
        @extend .antialiased;
        display: block;
        line-height: 2rem;
        padding: 0 $global-padding;
        color: #fff;
        font-weight: normal;
        text-decoration: none;
        &, &:visited {
          color: #fff;
        }
        &--active {
          background: tint($primary-color, 8%);
          border-radius: $global-radius;
        }
      }
      // ^^ Menu.

      // vv Search.
      .toggle-search {
        position: absolute;
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
        top: 1rem;
        right: $global-padding + 2rem;
        z-index: 1;

        a {
          color: #fff;
          text-decoration: none;
          &:before {
            @extend .collecticons-magnifier-right;
          }
        }

        span {
          @extend .visually-hidden;
        }

        @include media(small-up) {
          right: $global-padding * 2 + 2rem;
        }
        @include media(large-up) {
          display: none;
        }
      }
      .search-wrapper {
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: opacity 0.16s ease 0s, max-height 0.16s ease 0s, visibility 0.16s linear 0s;
        @include media(large-up) {
          @include col(4/8);
          display: block;
          overflow: visible;
          visibility: visible;
          opacity: 1;
          max-height: 600rem;
          text-align: right;
        }
      }
      &.show-search .search-wrapper {
        display: block;
        overflow: visible;
        visibility: visible;
        opacity: 1;
        max-height: 600rem;
      }
      // ^^ Search.
    }
    /* END Main navigation */



    &__search {
      // @include col(5/12);

      .drop {
        @extend .clearfix;
      }

      .input-group {
        margin: 0 auto;
        max-width: 20rem;
      }

      .bttn-search {
        text-decoration: none;
      }

      .input-search::-webkit-input-placeholder { font-size: 0.875rem; font-style: italic; }
      .input-search::-ms-input-placeholder { font-size: 0.875rem; font-style: italic; }
      .input-search::-moz-placeholder { font-size: 0.875rem; font-style: italic; }

      .search-results {
        z-index: 9999;
        color: $base-color;
        width: 80%;
        max-width: 25rem;

        .drop-menu-sectitle {
          overflow: hidden;
          strong {
            @extend .truncated;
            max-width: 22rem;
            font-weight: inherit;
            float: left;
          }
          small {
            float: right;
          }
        }
        .drop-menu-result a {
          @extend .truncated;
        }

        i {
          opacity: 0.64;
        }

        .info {
          text-align: center;
          color: tint($base-color, 32%);
        }
      }
    }
  }
}

.actions-menu {
  @extend .clearfix;
  /* Inline helper */
  word-spacing: -0.26rem;
  > * {
    display: inline-block;
    word-spacing: normal;
  }

  li {
    margin-right: 0.5rem;
    > * {
      vertical-align: top;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.page__actions {
  @include col(4/12);

  .actions-menu {
    float: right;
    // white-space: nowrap;
  }
}

/* Body
   ========================================================================== */

.site-body {
  .inner {
    @extend .row;
    @extend .row--centered;
  }
}

.page {
  &__header {
    background: rgba(#fff, 0.64);
    position: absolute;
    width: 100%;
    z-index: 1000;
    color: $base-font-color;
    padding: $global-padding 0;
    box-shadow: inset 0 -1px 0 0 rgba($base-color, 0.16);

    @include media(medium-up) {
      padding: ($global-padding * 1.5) 0;
    }
  }
  &__headline {
    @include col(8/12);
  }
  &__title {
    @extend .hd-l;
    margin: 0;
  }

  &__actions {
    .bttn-edit {
      @extend .bttn-m, .bttn-secondary;
      text-decoration: none;
      box-shadow: none;
    }
    .bttn-road-network.disabled {
      pointer-events: all;
    }

    .drop-info {
      max-width: 10rem;
    }
  }

  &__breadcrumbs {
    // margin-bottom: 2rem;
    .breadcrumbs {
      @extend .clearfix;
      li {
        float: left;

        a {
          color: tint($base-font-color, 16%);
          font-size: 0.875rem;
          font-style: italic;
        }

        &:not(:first-child):before {
          content: '/';
          margin: 0 0.5rem;
        }
      }
    }
  }
}

.page--list-solo {
  .col--main {
    padding-top: 10rem;
  }
}

.progress-bar {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem 0;
  height: 0.75rem;
  position: relative;
  box-shadow: 0 1px 0 0 $brdr-rgba;

  li {
    background: tint($base-color, 80%);
    height: inherit;
  }

  &--high li {
    background: $info-color;
  }
  &--med li {
    background: $warning-color;
  }
  &--low li {
    background: $alert-color;
  }
  .value {
    font-size: 0.75rem;
    line-height: 1;
    display: block;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
  }

  &--inline  {
    margin-bottom: 0;
    .value {
      position: absolute;
      right: 0.5rem;
      left: auto;
      top: -0.125rem;
      padding-top: 0;
    }
  }
}


.aa {
  .aa-main,
  .aa-details {
    @extend .clearfix;
  }

  .col--main {
    @include media(medium-up) {
      @include column(8/12);
    }
  }

  .col--sec {
    @include media(medium-up) {
      @include column(4/12);
    }
  }

  .aa-main {
    // border-bottom: 2px solid $flat-shadow-rgba;
    > .inner {
      margin-bottom: 2rem;
    }

    .aa-map-wrapper {
      position: relative;
      overflow: hidden;
      height: 30rem;

      .aa-map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    }

    .completeness {
      margin: 0;

      .legend {
        font-size: 0.75rem;
        font-weight: $base-font-bold;
      }
    }
  }
}


.aa-stats-row {
  @extend .clearfix;
  margin-bottom: 2rem;

  .aa-stats__list {
    @extend .clearfix;
  }

  &--completeness {
    background: $secondary-color;
    color: #fff;
    a {
      color: inherit;
    }
  }
}

.aa-stats {
  &__title {
    @extend .hd-s;
  }
  &__contents {
    background: #fff;
    border-radius: $global-radius;
    box-shadow: 0 0 0 2px $flat-shadow-rgba;
    padding: $global-padding;
    overflow: hidden;

    @include media(medium-up) {
      padding: $global-padding * 2;
    }
  }
}

.aa-stats--completeness {
  padding: ($global-padding * 1.5) 0 ($global-padding * 1.5);

  .aa-stats__title {
    @extend .visually-hidden;
  }

  // .aa-stats__element:nth-child(1),
  // .aa-stats__element:nth-child(2) {
  //   @include col(6/12, $cycle: 2);
  //   margin-bottom: 2rem;
  //   @include media(small-up) {
  //     @include col(6/12);
  //   }
  //   @include media(large-up) {
  //     @include col(3/12, $uncycle: 2);
  //     margin-bottom: 0;
  //   }
  // }
  // .aa-stats__element:nth-child(3),
  // .aa-stats__element:nth-child(4),
  // .aa-stats__element:nth-child(5) {
  //   @include col(6/12, $cycle: 2);
  //   margin-bottom: 2rem;
  //   @include media(small-up) {
  //     @include col(4/12, $uncycle: 2);
  //     margin-bottom: 0;
  //   }
  //   @include media(large-up) {
  //     @include col(2/12, $uncycle: 2);
  //     margin-bottom: 0;
  //   }
  // }
  // .aa-stats__element:last-child {
  //   margin: 0
  // }

  // .aa-stats__element:nth-child(2) {
  //   @include media(large-up) {
  //     box-shadow: 1px 0 0 0 rgba(#fff, 0.16);
  //   }
  // }

  .aa-stats__element {
    @include col(6/12, $cycle: 2);
    margin-bottom: 2rem;
    font-size: 1rem;
    color: $base-color;

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    @include media(small-up) {
      @include col(3/12, $uncycle: 2);
      margin-bottom: 0;
    }

    .wrapper {
      text-align: center;
    }

    strong {
      font-weight: $base-font-bold;
      .highlight {
        display: block;
        font-size: 2rem;
        color: #fff;
      }
    }

    .aa-stats__link {
      text-align: center;
      display: block;
      text-decoration: none;
      .highlight {
        text-decoration: underline;
      }
    }
  }

  .dropdown {
    margin-left: 0.5rem;
  }

  .bttn-info {
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;
    text-decoration: none;

    span {
      @extend .visually-hidden;
    }
    &:after {
      @extend .collecticons-circle-information;
    }
  }
}

.aa-stats--extent {
  .aa-stats__description {
    margin-bottom: 2rem;
  }

  .aa-stats__element {
    @include media(small-up) {
      @include col(6/12);
    }
    font-size: 1rem;

    > .wrapper {
      margin-bottom: 3rem;
    }

    .aa-stat__value {
      strong {
        display: block;
        font-size: 2rem;
        line-height: 1;
        font-weight: $base-font-bold;
      }
      span {
        font-weight: normal;
      }
      margin-bottom: 1rem;
    }

    &.roads-tagged {
      .aa-stat__value {
        font-size: 0.75rem;
        margin-bottom: 0;
        font-weight: $base-font-bold;
      }
      .progress-bar {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.aa-stats--condition {
  margin-bottom: $global-padding * 2;
  @include media(medium-up) {
    @include column(6/12);
    margin-bottom: 0;
  }
}

.aa-stats--responsibility {
  @include media(medium-up) {
    @include column(6/12);
  }
}

%empty-box {
  padding: 2rem;
  border-radius: $global-radius;
  border: 2px dashed $flat-shadow-rgba;
}

.aa-list {
  @extend .clearfix;
  &__table {
    @extend .table;

    .aa-list-chart {
      text-align: right;
    }

    tr > td:last-child {
      white-space: nowrap;
    }

    a {
      font-size: 1rem;
      color: $base-color;
      font-size: 0.875rem;
      // text-decoration: underline;
      // font-weight: $base-font-bold;
    }
  }
  &__empty {
    @extend %empty-box;
  }

  .bttn-view-more {
    float: right;
    margin-right: 1rem;
    font-weight: $base-font-bold;
  }

  // Placeholder loading.
  &.placeholder {
    opacity: 0.5;
    .hd-s {
      background: #ddd;
      // font-size: 1.5rem;
      // line-height: 1;
    }
    th {
      width: 50%;
      line-height: 1;
      span {
        display: block;
        background: #ddd;
        margin-right: 1rem;
      }
      &:last-child span {
        margin: 0;
      }
    }
    tbody > tr > td {
      p {
        width: 30%;
        background: #ddd;
        line-height: 1;
        margin-bottom: .5rem;
      }
      .progress-bar li {
        background: #ddd;
      }
    }
  }
  // ^^ Placeholder loading.
}

.aa-stats.aa-errors {
  margin-bottom: 2rem;
}

.prj-list {
  @extend .clearfix;
  margin: -1rem;

  @include media(medium-up) {
    margin: -2rem;
  }

  &__table {
    > thead > tr > th,
    > thead > tr > td {
      padding-top: 1rem;
    }

    > thead > tr > th:first-child,
    > tbody > tr > th:first-child,
    > tfoot > tr > th:first-child,
    > thead > tr > td:first-child,
    > tbody > tr > td:first-child,
    > tfoot > tr > td:first-child {
      padding-left: 2rem;
    }

    > thead > tr > th:last-child,
    > tbody > tr > th:last-child,
    > tfoot > tr > th:last-child,
    > thead > tr > td:last-child,
    > tbody > tr > td:last-child,
    > tfoot > tr > td:last-child {
      padding-right: 2rem;
    }

    font-size: 0.875rem;
    line-height: 1.25rem;

    td, th {
      box-shadow: 0 1px 0 0 $brdr-rgba;
    }

    thead th {
      background: $neutral;
      box-shadow: 0 1px 0 0 $neutral;
      font-weight: $base-font-bold;
    }

    [scope='row'] {
      font-weight: $base-font-bold;
    }

    margin-bottom: 0;
  }

  .actions {
    padding: 0 1rem 1rem 1rem;
    @include media(medium-up) {
      padding: 0 2rem 2rem 2rem;
    }
  }
}

.aa-tofixtasks {
  margin-bottom: 2rem;
  &__title {
    @extend .hd-s;
  }
  &__contents > ul > li {
    margin-bottom: $global-padding * 2;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
    background: #fff;
    transition: background 200ms ease-in-out;
    border-radius: $global-radius;
    box-shadow: 0 0 0 2px $flat-shadow-rgba;
    padding: $global-padding;
    &:visited, &:active {
      color: inherit;
    }
    &:hover {
      opacity: 1;
      background: #fbfbfb;
    }

    h2 {
      margin-bottom: 1rem;

      small {
        text-transform: uppercase;
        font-size: 0.625rem;
        background: rgba($base-color, 0.16);
        padding: 0 0.5rem;
        border-radius: $global-radius;
      }
    }

    ul {
      list-style: disc;
      list-style-position: inside;
    }
  }
  &--empty {
    @extend %empty-box;
    text-align: center;
  }

  // vv Temp.
  &__map {
    background: #ddd;
    text-align: center;
    width: 6rem;
    padding: 2rem 0;
  }
  // ^^ Temp.

  // Loading placeholders.
  .loading-placeholder {
    .aa-tofixtasks {
      &__wrapper {
        opacity: 0.5;
        p {
          background: #ddd;
          line-height: 0.875rem;
          font-size: 0.875rem;
          margin-bottom: 0.5rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__map {
        background: #ddd;
        text-align: center;
        width: 4rem;
        padding: 1rem 0;
      }
    }
  }
}


// Pagination

.pagination {
  @extend .clearfix;
  margin-top: $global-padding * 2;
  > li {
    float: left;
  }
  .previous a, .next a {
    @extend .bttn;
    text-decoration: none;
    text-transform: uppercase;
    color: $base-font-color;
    span {
      @extend .visually-hidden;
    }
  }
  .previous a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:before {
      @extend .collecticons-chevron-left;
    }
  }
  .next a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:before {
      @extend .collecticons-chevron-right;
    }
  }

  .pages {
    @extend .clearfix;
    &__wrapper {
      float: left;
    }
    &__page {
      @extend .bttn;
      border-radius: 0;
      text-decoration: none;
      text-transform: uppercase;
      color: $base-font-color;
    }

    .active .pages__page {
      color: #fff;
      background-color: rgba($secondary-color, 0.64);
      box-shadow: 0 0 0 1px rgba($secondary-color, 0.64);
    }

    .break {
      float: left;
      .pages__page {
        opacity: 1;
      }
    }
  }
}

.piechart {
  .chart-legend {
    max-width: 13rem;
    margin: 2rem auto 0 auto;
    li {
      margin-bottom: 0.5rem;
      line-height: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .legend-key {
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }
    .legend-value {
      display: inline-block;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      margin-left: 1rem;
    }
  }
}

.projects-controls {
  margin-bottom: 1rem;

  .filter-select {
    max-width: 15rem;
  }
}
