// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none !important;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

/* ==========================================================================
   Global
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after, input[type="search"] {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
  background: tint($base-color, 96%);
}

// Badges

.badge {
  display: inline-block;
  min-width: 0.85rem;
  padding: 0.225rem 0.5rem;
  font-size: 0.75rem;
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  text-transform: uppercase;
  line-height: 0.85rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: rgba($base-color, 0.4);
  border-radius: $global-rounded;
  margin-left: 0.25rem;
  @extend .antialiased;
}

#main-frame {
  border: none;
  display: block;
  position: absolute;
  height: calc(100% - 4rem); /* 100% - height header */
  width: 100%;
}
/* Links
   ========================================================================== */

a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;
  @include transition(opacity 0.2s ease 0s);
  @include transform(translateZ(0));
}

a:visited {
  color: $primary-color;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}


/* Rows
   ========================================================================== */

.row {
  @extend .clearfix;
  padding-left: $global-padding;
  padding-right: $global-padding;
  @include media(small-up) {
    padding-left: $global-padding*2;
    padding-right: $global-padding*2;
  }
  @include media(xlarge-up) {
    padding-left: $global-padding*4;
    padding-right: $global-padding*4;
  }
}

.row--centered {
  max-width: $row-max-width;
  margin-left: auto;
  margin-right: auto;
}


/* ==========================================================================
   Structure
   ========================================================================== */


/* Header
   ========================================================================== */

.site-header {
  background: shade($primary-color, 64%);
  color: #fff;
  padding: 1rem 0;
  > .inner {
    @extend .row;
    @extend .row--centered;
  }

  .site {
    &__headline {
      @include col(3/12);
      * {
        vertical-align: middle;
        display: inline-block;
      }
  
      .site__title {
        margin: 0;
        padding: 0.25rem 0;
      }

      img {
        width: auto;
        height: 1.25rem;
      }
      span {
        @extend .visually-hidden;
      }
    }

    &__search {
      @include col(6/12);

      .input-group {
        max-width: 20rem;
        margin: 0 auto;
      }

      .search-results {
        color: $base-color;
        min-width: 80%;

        .drop-menu-sectitle {
          overflow: hidden;
          strong {
            @extend .truncated;
            max-width: 22rem;
            font-weight: inherit;
            float: left;
          }
          small {
            float: right;
          }
        }

        i {
          opacity: 0.64;
        }
      }
    }

    /* Main navigation */
    &__nav {
      @include col(3/12);
      ul {
        @extend .clearfix;
        float: right;
      }
      li {
        float: left;
        margin-left: 0.5rem; 
        a {
          color: #fff;
          text-transform: uppercase;
          font-weight: $base-font-bold;
          padding: 0.5rem;
          font-size: 0.75rem;
          line-height: 1rem;
          display: block;
        }
      }
    }
  }
}

.page__headline {
  @include col(8/12);
}

.actions-menu {
  @extend .clearfix;
  /* Inline helper */
  word-spacing: -0.26rem;
  > * {
    display: inline-block;
    word-spacing: normal;
  }

  li {
    margin-right: 0.5rem;
    > * {
      vertical-align: top;
    }

    &:last-child {
      margin: 0;
    } 
  }
}

.page__actions {
  @include col(4/12);

  .actions-menu {
    float: right;
    white-space: nowrap;
  }
}

/* Body
   ========================================================================== */

.site-body {
  .inner {
    @extend .row;
    @extend .row--centered;
  }
}

.page {
  &__header {
    padding: 2rem 0 1rem 0;
    background: #fff;
  }
  &__title {
    @extend .hd-l;
  }
}

.progress-bar {
  background: #fff;
  border-radius: $global-rounded;
  box-shadow: inset 0 2px 0 0 $flat-shadow-rgba;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 1.25rem;
  
  li {
    background: $secondary-color;
    box-shadow: inset 0 2px 0 0 $flat-shadow-rgba;
  }

  &.progress-bar-s {
    height: 0.5rem;
  }
}


.aa {
  .aa-main,
  .aa-details {
    @extend .clearfix;
  }

  .col--main {
    @include column(9/12, $offset: 1/12);
  }

  .col--sec {
    @include column(2/12);
  }

  .aa-main {
    background: #fff;
    border-bottom: 2px solid $flat-shadow-rgba;
    > .inner {
      margin-bottom: 2rem;
    }

    .completeness {
      margin: 0;

      .legend {
        font-size: 0.75rem;
        font-weight: $base-font-bold;
      }
    }
    .aa-image {
      width: 100%;
      display: block;
      margin-top: 2rem; 
    }

    .aa-stats {
      &__nav {
        ul {
          @extend .clearfix;
          /* Inline helper */
          word-spacing: -0.26rem;
          > * {
            display: inline-block;
            word-spacing: normal;
          }

          border-bottom: 2px solid tint($base-color, 80%);
        }
        li {
          margin-right: 0.5rem;
          margin-bottom: -2px;
          &:last-child {
            margin-right: 0;
          }

          a {
            display: block;
            padding: 0.5rem;
            border: 2px solid transparent;
            border-radius: 0.25rem 0.25rem 0 0;
            color: $base-color;
            text-transform: uppercase;
            font-weight: $base-font-bold;
            font-size: 0.75rem;
          }

          &.active a,
          &.active a:hover,
          &.active a:focus, {
            border-color: tint($base-color, 80%) tint($base-color, 80%) transparent;
            background: #fff;
            opacity: 1;
          }
        }
      }

      /* vv Placeholer vv */
      .chart-wrapper {
        border: 2px dashed tint($base-color, 88%);
        border-radius: 0.5rem;
        padding: 4rem;
        margin: 2rem;
        text-align: center;

        &:before {
          @extend .collecticons-chart-line;
          font-size: 8rem;
          color: tint($base-color, 80%);

        }
      }
      /* ^^ Placeholer ^^ */

      &__controls {
        float: right;
        @extend .bttn-group;
      }
    }
  }

  .prose-wrapper {
    padding: 2rem 0;
    
    p {
      margin-bottom: 1rem;
    }
  }

  .aa-details {
    background: tint($base-color, 96%);
    .breadcrumbs {
      text-align: right;
      li {
        padding: 0.5rem 2rem 0.5rem 0;
        position: relative;

        a {
          &:visited, & {
            color: inherit;
          }
        }
        /* Little circle for each breadcrumb */
        &:before {
          content: '';
          border-radius: $global-rounded;
          width: 0.5rem;
          height: 0.5rem;
          background: $secondary-color;
          display: block;
          position: absolute;
          top: 1.125rem;
          right: 0;
        }

        /*
          The line is constructed using the :after
          Each line spans the full height of the element, except the first
          and the last one which take the padding into account.
        */
        &:after {
          content: '';
          width: 1px;
          background: $secondary-color;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0.25rem;
        }
        &:first-child:after {
          top: 1.125rem;
        }
        &:last-child:after {
          bottom: auto;
          height: 1.125rem;
        }

        &.disabled:before,
        &.disabled:after {
          background: tint($base-color, 64%);
        }
      }
    }

    &__header {
      @include column(2/12);
      padding: 2rem 0;
    }

    &__body {
      @include column(9/12, $offset: 1/12);
      padding: 2rem 0;
      position: relative;
      min-height: 20rem;

      &:before {
        background: $brdr-rgba;
        top: 0;
        bottom: 0;
        right: 0;
        left: -2rem;
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        z-index: 1;
      }

      .indicator {
        margin: 0;
        &:before {
          @extend .collecticons-triangle-left;
          display: block;
          position: absolute;
          top: 92px;
          left: calc(-3rem + 1px);
          text-shadow: -1px 0 0 $spread-shadow-rgba;
          z-index: 1;
          color: tint($base-color, 96%);
          font-size: 1.5rem;
        }
        &.region:before {
          top: calc(92px + 40px * 1);
        }
        &.province:before {
          top: calc(92px + 40px * 2);
        }
        &.municipality:before {
          top: calc(92px + 40px * 3);
        }
        &.barangay:before {
          top: calc(92px + 40px * 4);
        }
      }
    }

    &__table {
      @extend .table;

      .aa-details-actions {
        width: 1px;
      }

      tr > td:last-child {
        white-space: nowrap;
      }

      a {
        font-size: 14px;
        font-weight: $base-font-bold;
      }

    }
  }
}
