/* ==========================================================================
   Forms
   ========================================================================== */

.form {
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.form__control {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $base-font-color;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  font-family: inherit;
  box-shadow: inset 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;

  /* Placeholder */
  &::placeholder {
    opacity: 0.64;
  }

  /* States */
  &[disabled] {
    @extend .disabled;
  }

  &[readonly] {
    cursor: text;
    opacity: 0.64;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px rgba($base-color, 0.24);
  }

  &:focus,
  &--focus,
  &:active,
  &--active {
    outline: 0;
    box-shadow: inset 0 0 0 1px rgba($base-color, 0.32);
  }

  /* Animation */
  transition: all 0.24s ease 0s;
}


/* Select form control
   ========================================================================== */

select.form__control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2rem;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,' + urlencode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="5px" viewBox="0 0 10 5" enable-background="new 0 0 10 5" xml:space="preserve"><g><polygon fill="#{$link-color}" points="5,5 0,0 10,0  "/></g></svg>'));
  background-position: calc(100% - 0.5rem) center;
  background-repeat: no-repeat;

  /* Size modifiers */

  &.form__control--small,
  &.form__control--medium {
    padding-right: 2rem;
    background-position: calc(100% - 0.5rem) center;
  }

  &.form__control--large,
  &.form__control--xlarge {
    padding-right: 2.25rem;
    background-position: calc(100% - 0.75rem) center;
  }
}

/* IE specific */

select.form__control::-ms-expand {
  display: none;
}

/* Firefox specific */

@-moz-document url-prefix() {
  select.form__control {
    text-overflow: '';
    text-indent: -2px;
  }
}

select.form__control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $base-font-color;
}


/* Textarea form control
   ========================================================================== */

textarea.form__control {
  height: auto;
  resize: none;
}


/* Input groups
   ========================================================================== */

.form__input-group {
  display: flex;
  width: 100%;
  line-height: 0;
}

.form__input-addon + .form__input-addon,
.form__input-addon + .button,
.form__input-addon + .form__control,
.form__control + .form__input-addon  {
  margin-left: -1px;
}

.form__input-addon,
.form__input-group > .button {
  flex: 0 0 auto;
}

.form__input-group > .button {
  position: relative;
  z-index: 3;
}

.form__input-group .form__control {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form__input-addon {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-width: 2rem;
  text-align: center;
  background: tint($base-color, 96%);
  color: rgba($base-font-color, 0.64);
  border-radius: $base-border-radius;
  box-shadow: inset 0 0 0 1px $base-alpha-color;
  margin-bottom: 0;
}

.form__input-group > *:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form__input-group > *:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


legend,
label {
  font: inherit;
  color: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1rem;
  display: block;
  width: 100%;
  line-height: inherit;
  border: 0;
  @include media(medium-up) {
    margin-bottom: 1.5rem;
  }
}

label {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 1.5rem;
  padding: 0;
  font-family: $base-font-family;
}

input[type=checkbox],
input[type=radio] {
  margin: 0.25rem 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.form-fieldset {
  margin-bottom: 2rem;
  > *:last-child {
    margin-bottom: 0;
  }
}

.form-legend {
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  @include heading(1.25rem);
}

.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  vertical-align: middle;
  label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    font-weight: inherit;
    cursor: pointer;
  }
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem;
}


// FORM HORIZONTAL

.form-horizontal {
  @extend .clearfix;
}

.form-horizontal .form-label {
  &.none {
    @include media(xsmall-only) {
      border: 0 none;
      clip: rect(0px, 0px, 0px, 0px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    @include media(small-only) {
      border: 0 none;
      clip: rect(0px, 0px, 0px, 0px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
  @include media(medium-up) {
    @include column(2/8);
    padding-top: 0.125rem;
  }
}

.form-horizontal .form-control-set,
.form-horizontal .form-options-set {
  @include media(medium-up) {
    @include column(6/8);
  }
}

.form-horizontal .form-options-set {
  @include media(small-up) {
    > * {
      @include column(4, $cycle: 2);
    }
  }
  @include media(medium-up) {
    > * {
      @include column(4, $cycle: 3, $uncycle: 2);
    }
  }
}

.form-help {
  margin-top: 0.5rem;
  opacity: 0.64;
}

.form-horizontal .form-note {
  margin-bottom: 2rem;
  > *:last-child {
    margin-bottom: 0;
  }
}

.form-horizontal .form-actions,
.form-horizontal .form-extra-actions,
.form-horizontal .form-note {
  @include media(medium-up) {
    @include column(6/8);
    @include shift(2/8);
    margin-right: 0;
  }
}

.form-horizontal .form-extra-actions {
  margin-bottom: 2rem;
}


/* Form options (radios and checkboxes)
   ========================================================================== */

.form__option {
  position: relative;
  display: block;
  margin-top: $global-spacing / 2;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  padding-left: $global-spacing * 1.25;

  input {
    position: absolute;
    top: $global-spacing / 4;
    left: 0;
  }
}

.form__option__text {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

/* Form option inline modifier */

.form__option--inline {
  display: inline-block;
}

.form__option--inline + .form__option--inline {
  margin-left: $global-spacing;
}


/* Form custom options modifiers (radios and checkboxes)
   ========================================================================== */

.form__option--custom-radio,
.form__option--custom-checkbox {
  padding-left: $global-spacing * 1.75;

  input {
    @extend .visually-hidden;
  }

  .form__option__ui {
    position: absolute;
    top: 0.125rem;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    box-shadow: inset 0 0 0 2px $link-color;
    background: #fff;
    transition: all 0.16s ease 0s;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.24s ease 0s;
    }
  }

  &:hover .form__option__ui {
    background: $link-color;
    color: #fff;

    &::before {
      color: #fff;
    }
  }

  input:focus  ~ .form__option__ui,
  &:active .form__option__ui {
    box-shadow: inset 0 0 0 2px $link-color;
    background: $link-color;
    color: #fff;

    &::before {
      color: #fff;
    }
  }

  input:checked ~ .form__option__ui {
    box-shadow: inset 0 0 0 2px $link-color;

    &::before {
      opacity: 1;
    }
  }
}

.form__option--custom-radio {
  .form__option__ui {
    &, &::before {
      border-radius: $full-border-radius;
    }

    &::before {
      content: "";
      height: 0.5rem;
      width: 0.5rem;
      background: $link-color;
    }
  }
}

.form__option--custom-checkbox {
  .form__option__ui {
    &, &:before {
      border-radius: $base-border-radius;
    }

    &::before {
      @extend %collecticons-sm-tick;
      color: $link-color;
    }
  }
}
