
// DROPDOWNS

.drop {
  position: relative;
  * {
    z-index: 9999;
  }
}

.drop-toggle {
  vertical-align: center;

  &.caret {
    &::after {
      @extend %collecticons-sm-chevron-down;
      opacity: 0.48;
      font-size: 1rem;
      margin-left: 0.25rem;
      line-height: inherit;
    }
  }

  &:focus {
    outline: 0;
  }
}

.drop-content {
  @extend %base-overlay-skin;
  position: absolute;
  left: -1rem;
  z-index: 1000;
  float: left;
  min-width: 12rem;
  margin: 0;
  text-align: left;
  opacity: 0;
  padding: 1rem;
  visibility: hidden;

  * {
    color: $primary-color;
  }

  transform: translate3d(0, 0, 0);
  transition: opacity 0.16s ease 0s, margin 0.16s ease 0s, visibility 0.16s linear 0s;

  &:before {
    @extend .collecticons-triangle-up;
    position: absolute;
    z-index: 15;
    left: 1rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    height: 1rem;
    width: 1rem;
    .dropdown > & {
      @extend .collecticons-triangle-up;
      top: -0.675rem;
      text-shadow: 0 -1px $brdr-rgba;
    }
    .dropup > & {
      @extend .collecticons-triangle-down;
      bottom: -0.675rem;
      text-shadow: 0 1px $brdr-rgba;
    }
    .right > & {
      left: auto;
      right: 1rem;
    }
    .center > & {
      left: 50%;
      margin-left: -0.5rem;
    }
  }
  .dropdown > & {
    top: 100%;
    margin-top: -1rem;
  }
  .dropup > & {
    bottom: 100%;
    margin-bottom: -1rem;
  }
  .center > & {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .right > & {
    right: -1rem;
    left: auto;
  }
  .open > & {
    opacity: 1;
    visibility: visible;
  }
  .dropdown.open > & {
    margin-top: 0.75rem;
  }
  .dropup.open > & {
    margin-bottom: 0.75rem;
  }

  &.popover-behavior {
    pointer-events: none;
  }
}

.drop-menu {
  @extend .clearfix;
  list-style: none !important;
  margin: -0.5rem -1rem !important;
  padding: 0;
  white-space: nowrap;
  font-family: $base-font-family;
  font-weight: $base-font-regular;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;

  .sep:not(:first-child) {
    box-shadow: inset 0 1px 0 0 $brdr-rgba;
    padding-top: 0.25rem;
    margin-top: 0.25rem;
  }
}

.drop-menu .drop-menu-sectitle {
  display: block;
  padding: 0.375rem 1rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-font-color, 32%);
}

.drop-menu .drop-menu-sectitle:not(:first-child) {
  margin-top: 0.5rem;
  padding-top: 0.75rem;
}

.drop-menu-item {
  position: relative;
  display: block;
  padding: 0.25rem 1rem;
  color: $link-color;
  text-decoration: none;
  transition: all 0.16s ease 0s;

  &:hover,
  &:focus {
    background-color: tint($link-color, 89%);
    opacity: 1;
  }
}

.drop-menu-item--active {
  color: $link-color;
  outline: 0;
  font-weight: $base-font-bold;
  &:after {
    position: absolute;
    z-index: 1;
    top: $global-spacing / 4;
    right: $global-spacing / 2;
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.48;
    width: 1.5rem;
    text-align: center;
  }
}

.drop-menu > * > a,
.drop-menu > * > a:visited {
  position: relative;
  display: block;
  padding: 0.375rem 1rem;
  color: inherit;
  &:hover,
  &:focus {
    color: inherit;
    opacity: 1;
  }
}

.drop-menu > * {
  &.has-icon-bef a,
  &.has-icon-aft a {
    &:before,
    &:after {
      position: absolute;
      z-index: 1;
      top: 0.35rem;
      font-size: 1rem;
      opacity: 0.48;
    }
  }
  &.has-icon-bef a {
    padding-left: 2.5rem;
    &:before {
      left: 1rem;
    }
  }
  &.has-icon-aft a {
    padding-right: 2.5rem;
    &:after {
      right: 1rem;
    }
  }
}

.drop-menu > .active > a,
.drop-menu > .active > a:hover,
.drop-menu > .active > a:focus {
  color: inherit;
  outline: 0;
  font-weight: $base-font-bold;
  &:after {
    @extend .collecticons-sm-tick;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 0.2rem;
    font-size: 1rem;
    opacity: 0.32;
  }
}

.drop-menu > .disabled > a {
  @extend .disabled;
}

// TITLED

*[data-title-rel]:hover {
  position: relative;
}

*[data-title-rel]:hover,
*[data-title]:hover,
*[data-title].zc-hover {
  &:after {
    @extend .antialiased, .truncated;
    content: attr(data-title);
    position: absolute;
    left: 50%;
    bottom: 100%;
    z-index: 1400;
    width: auto;
    max-width: 14rem;
    padding: 0 0.5rem;
    background: rgba($base-color, 0.8);
    border-radius: $global-radius;
    margin-bottom: 0.25rem;
    transform: translate(-50%, 0);
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    font-family: $base-font-family;
    font-weight: $base-font-regular;
    font-style: $base-font-style;
  }
}

.single-actions {
  *[data-title].zc-hover {
    &:after {
      left: auto;
      right: 0;
      transform: translate(0, 0);
    }
  }
}

// POPOVER

.popover {
  @extend .antialiased;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 1rem;
  pointer-events: none;
  max-width: 18rem;
  width: auto;
  // Just to ensure that there are no flickers before it is positioned.
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 2px 1px rgba($base-color, 0.16);
  color: tint($base-color, 16%);
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-family: $base-font-family;
}

.placeholder__fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.placeholder__message {
  position: absolute;
  text-align: center;
  top: 40%;
  padding: $global-padding;
  margin: 0 auto;
  width: 100%;
  background-color: #FFF;
}

.properties__overlay {
  font-size: 0.75rem;
  position: absolute;
  top: $global-padding + 3.5rem;
  left: $global-padding;
  padding: $global-padding;
  background-color: #fff;
  border-radius: $global-radius;

  dt, dd {
    display: inline;
  }
  dt:after {
    content: ':';
  }
  dt {
    margin-right: 0.2em;
  }
  dd:after {
    content: '\A';
    white-space: pre;
  }
}
