.table {
  background: #fff;
  overflow: hidden;
  border: 1px solid lighten($primary-color, 10);
  border-radius: 3px;
  box-shadow: 0 0 5px #888;
  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    td, th {
      padding: 3px 10px;
    }
    thead th {
      background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, lighten($primary-color, 10)), color-stop(0.75, $primary-color));
      background: -moz-linear-gradient( center top, lighten($primary-color, 10), 20 5%, $primary-color 75%);
      background: linear-gradient( center top, lighten($primary-color, 10) 5%, $primary-color 75%);
      color: #fff;
      height: 2.5rem;
      letter-spacing: 1.5px;
      vertical-align: middle;
      font-size: 1rem;
      font-weight: 600;
      border-left: 1px solid lighten($primary-color, 10);
      &:first-child {
        border: none;
      }
    }
    tbody {
      tr {
        height: 1.8rem;
        &:last-child td {
          border-bottom: none;
        }
      }
      td {
        vertical-align: middle;
        color: $primary-color;
        border-left: 1px solid #E1EEF4;
        font-size: 0.8rem;
        font-weight: 400;
        :first-child {
          font-weight: 600;
          border-left: none;
        }
      }
      .alt {
        background: #E1EEF4;
        color: $primary-color;
      }
    }
  }
}
