.table {
  background: #fff;
  overflow: hidden;
  border: 1px solid #006699;
  border-radius: 3px;
  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    td, th {
      padding: 3px 10px;
    }
    thead th {
      background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
      background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
      background: linear-gradient( center top, #006699 5%, #00557F 100%);
      background-color: #006699;
      color: #ffffff;
      height: 2.5rem;
      letter-spacing: 1.5px;
      vertical-align: middle;
      font-size: 1rem;
      font-weight: 600;
      border-left: 1px solid #0070A8;
      &:first-child {
        border: none;
      }
    }
    tbody {
      tr {
        height: 1.8rem;
        &:last-child td {
          border-bottom: none;
        }
      }
      td {
        vertical-align: middle;
        color: #00496B;
        border-left: 1px solid #E1EEF4;
        font-size: 0.8rem;
        font-weight: 400;
        :first-child {
          font-weight: 600;
          border-left: none;
        }
      }
      .alt {
        background: #E1EEF4;
        color: #00496B;
      }
    }
  }
}
