/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$base-color: #252525;                   // Asphalt
$primary-color: #3d0a08;                // Aubergine
$secondary-color: #da251d;              // Red
$tertiary-color: #ffffff;               // Undefined

// background for titles
$neutral: #F2F2F2;                      // Gray

/* State colors */

$danger-color: #E74C3C;                 // Alizarin
$success-color: #2ECC71;                // Emerald
$warning-color: #F1C40F;                // Sunflower
$info-color: #3498DB;                   // Peter River


/* Legacy colors */

$alert-color: $danger-color;

/* Helper colors */

$link-color: $secondary-color;
$base-alpha-color: rgba($base-color, 0.12);


/* Typography
   ========================================================================== */

/* $base-* refers to the base styles when there's nothing else to override them. */

$base-font-color: tint($base-color, 20%);
$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-bold: 700;
$base-font-weight: $base-font-light;

$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;


/* Decoration
   ========================================================================== */

/* Border radius */

$global-radius: 0.25rem;
$semi-radius: $global-radius/2;
$global-rounded: 60rem;

// Future-proof

$base-border-radius: 0.25rem; // to replace $global-radius
$full-border-radius: 100vh; // to replace $global-rounded

/* Shadowing */

$brdr-rgba: rgba($base-color, 0.16); // border-like shadow
$frame-rgba: rgba($base-color, 0.16);

$flat-shadow-rgba: rgba($base-color, 0.08); // flat drop shadow
$spread-shadow-rgba: rgba($base-color, 0.24); // spread drop shadow


/* Sizing, spacing and media queries
   ========================================================================== */

/* Row's min and max width */

$row-min-width: 320px;
$row-max-width: 1280px;
$jeet-max-width: $row-max-width; // reset jeet.gs max width

/* Media query ranges */

$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);

$screen: "only screen";

/* Paddings */

$global-padding: 1rem;


/* Spacing */

$global-spacing: 1rem;
