.analytics, .analytics-aa .site-header,
.editor .site-header,
.explore .site-header  {
  .site__nav {
    .menu-wrapper {
      overflow: auto;
      visibility: visible;
      opacity: 1;
      max-height: 600rem;
    }

    .toggle-menu,
    .toggle-search,
    .search-wrapper {
      display: none;
    }
  }
}

.analytics, .analytics-aa {
  .aa-main {
    @extend .row;
    @extend .row--centered;
  }
  h1 {
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 1.5rem;
    text-align: left;
  }
  .aa-header {
    display: flex;
    justify-content: space-between;
    h1, a {
      display: inline-block
    }
    a {
      text-align: right;
      margin: auto 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: 500px) {
      a {
        font-size: 0.75rem;
        padding: 0.2rem 0.6rem;
      }
    }
  }

  .aa-main__status {
    min-height: 4.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0 2rem 0;
    border: 1px solid rgb(220, 220, 220);
    border-radius: $global-radius;
    background-color: #FFF;
    h2 {
      font-size: 0.8rem;
      color: $base-color;
      font-weight: 400;
      margin: 0.2rem 1rem 0 0.2rem;
      display: block;
      strong {
        font-weight: 800;
        font-size: 1rem;
        color: $base-color;
      }
    }
  }
  .meter {
    position: relative;
    width: 100%;
    margin: 0.4rem 0 0.5rem;
    height: 1rem;
    border-radius: $global-radius;
    background: rgba($base-color, 0.12);
    border: 0;

    .meter__internal {
      height: 1rem;
      border-radius: $global-radius;
      background-color: $info-color;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      content: "";
      pointer-events: none;
      box-shadow: inset 0 0 0 1px rgba($base-color, 0.12);
      border-radius: $global-radius;
    }
  }
  .collecticons {
    margin-right: 0.25rem;
  }
}
