.analytics .site-header,
.editor .site-header {
  .site__nav {
    float: right;
    .menu-wrapper {
      @include col(12/12);
      float: right;
      overflow: auto;
      visibility: visible;
      opacity: 1;
      max-height: 600rem;
      text-align: right;
    }
    .global-menu {
      float: right;
      > li {
        float: left;
        margin: 0 ($global-padding / 2) 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .toggle-menu,
    .toggle-search,
    .search-wrapper {
      display: none;
    }
  }
}

.analytics {
  .aa-main {
    @extend .row;
    @extend .row--centered;
  }
  .aa-header {
    display: flex;
    justify-content: space-between;
    h1, a {
      display: inline-block
    }
    h1 {
      font-size: 1.75rem;
      font-weight: 800;
      margin-top: 1.5rem;
      text-align: left;
    }
    a {
      text-align: right;
      margin: auto 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: 500px) {
      a {
        font-size: 0.75rem;
        padding: 0.2rem 0.6rem;
      }
    }
  }
  .aa-main__status {
    min-height: 4.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0 2rem 0;
    border: 1px solid rgb(220, 220, 220);
    border-radius: $global-radius;
    background-color: #FFF;
    h2 {
      font-size: 0.8rem;
      color: $base-color;
      font-weight: 400;
      margin: 0.2rem 1rem 0 0.2rem;
      display: block;
      strong {
        font-weight: 800;
        font-size: 1rem;
        color: $base-color;
      }
    }
  }
  .meter {
    width: 100%;
    margin: 0.4rem 0 0.5rem;
    height: 1rem;
    border-radius: $global-radius;
    background-color: $alert-color;
    border: 1px solid rgb(220, 220, 220);
    .meter__internal {
      height: calc(1rem - 2px);
      border-radius: $global-radius;
      background-color: $info-color;
    }
  }
  .collecticons {
    margin-right: 0.25rem;
  }
}
