.analytics .site-header,
.analytics-aa .site-header,
.main .site-header,
.editor .site-header,
.explore .site-header {
  .site__nav {
    .menu-wrapper {
      overflow: auto;
      visibility: visible;
      opacity: 1;
      max-height: 600rem;
    }

    .toggle-menu,
    .toggle-search,
    .search-wrapper {
      display: none;
    }
  }
}


.explore {
  .map-container {
    height: calc(100vh - 3.5rem);
    width: 100%;
  }
  #map {
    height: 100%;
    width: 100%;
  }

  .map-options {
    position: absolute;
    background-color: lighten($neutral, 5%);
    border-radius: $global-radius;
    width: 250px;
    top: $global-padding + 3.5rem;
    right: $global-padding;
    padding: $global-padding;
  }

  // .input-group {
  //   float: left;
  //   margin-bottom: $global-padding;
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }

  .map-options-checkbox {
    float: left;
    margin-right: $global-padding * 0.5;
  }

  .map-options-label {
    float: left;
    width: 80%;
    font-size: 0.75rem;
    font-weight: $base-font-regular;
    line-height: 1rem;
  }

  select {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $link-color;
    background: #fff;
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-weight: $base-font-bold;
    box-shadow: inset 0 0 0 2px $link-color;
    border-radius: $global-radius;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1.5rem;
    cursor: pointer;
    background: #fff url('data:image/svg+xml;utf8,' + urlencode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="5px" viewBox="0 0 10 5" enable-background="new 0 0 10 5" xml:space="preserve"><g><polygon fill="#{$link-color}" points="5,5 0,0 10,0  "/></g></svg>')) calc(100% - 0.5rem) center no-repeat;
    transition: all 0.24s ease 0s;

    &:hover,
    &:focus,
    &:active {
      @extend .antialiased;
      outline: 0;
      color: #fff;
      background: $link-color url('data:image/svg+xml;utf8,' + urlencode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="5px" viewBox="0 0 10 5" enable-background="new 0 0 10 5" xml:space="preserve"><g><polygon fill="#FFF" points="5,5 0,0 10,0  "/></g></svg>')) calc(100% - 0.5rem) center no-repeat;
    }

    /* Animation */
    transition: all 0.24s ease 0s;
  }

  .map-legend {
    position: absolute;
    background-color: lighten($neutral, 5%);
    border-radius: $global-radius;
    width: 200px;
    bottom: $global-padding * 2;
    right: $global-padding;
    padding: $global-padding;
  }

  .map-legend-title {
    font-weight: bold;
    font-size: 0.75rem;
  }

  .map-legend-scale {
    height: 15px;
    background-image: linear-gradient(to right, #8CCA1B, #DA251D);
  }

  .map-legend-label {
    float: left;
    
    &:last-child {
      float: right;
    }
    font-size: 0.75rem;
  }
}
