.page--landing {
  .site-header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    .site {
      &__title {
        @extend .visually-hidden;
      }
      &__nav {
        float: right;

        .menu-wrapper {
          @include col(12/12);
          float: right;
          overflow: auto;
          visibility: visible;
          opacity: 1;
          max-height: 600rem;
          text-align: right;
        }

        .global-menu {
          float: right;
          > li {
            float: left;
            margin: 0 ($global-padding / 2) 0 0;
            &:last-child {
              margin-right: 0;
            }
          }
        }

        .toggle-menu,
        .toggle-search,
        .search-wrapper {
          display: none;
        }
      }
    }
  }

  .page {
    &__header--landing {
      text-align: center;
      padding-top: 8rem;
      padding-bottom: 4rem;
      background: url(../graphics/layout/background_map.png);
      background-size: cover;
      position: relative;
      @include media(small-up) {
        padding-top: 10rem;
        padding-bottom: 5rem;
      }
    }
    &__headline--landing {
      position: relative;
      z-index: 10;
      color: #fff;
    }
    &__title--landing {
      img {
        width: auto;
        height: 2rem;
        @include media(small-up) {
          height: 3rem;
        }
      }

      span {
        @extend .visually-hidden;
      }
    }
    &__description--landing {
      width: 100%;
      max-width: 30rem;
      padding: 0 $global-padding;
      margin: 0 auto;
      font-weight: $base-font-bold;
    }
    &__body--landing {
      text-align: center;
      padding: 3rem 0;
      h2 {
        font-size: 1.5rem;
        font-weight: $base-font-light;
        color: tint($base-color, 48%);
        @include media(small-up) {
          font-size: 2rem;
        }

        &:before {
          content: "";
          background: url(../graphics/layout/map_icon.png);
          background-size: 100%;
          display: block;
          width: 4rem;
          height: 4rem;
          margin: 0 auto 1rem auto;
          z-index: 1;
          @include media(small-up) {
            width: 5rem;
            height: 5rem;
          }
        }
      }
      .description {
        width: 100%;
        max-width: 40rem;
        margin: 0 auto 2rem auto;
      }
      .bttn-explore {
        @extend .bttn, .bttn-l;
        text-decoration: none;
        // Specific variation outline:
        box-shadow: 0 0 0 2px $secondary-color;
        border-radius: 0;
        width: 12rem;
        &:active {
          box-shadow: 0 0 0 2px $secondary-color;
        }
      }
    }
  }
}