<% var _ = require('underscore') %>

<article>
  <%- require('./sidebar.html')({ active: 'regions', type: type, crumbs: crumbs }) %>
  <div id="content">

    <h1><%- crumbs[crumbs.length-1].name %>&nbsp;<%- type.plural %></h1>

    <table class="table">
      <thead>
        <tr>
          <th><%- type.display %></th>
        </tr>
      </thead>
      <tbody>
        <% subregions.forEach(function(subregion) { %>
        <tr>
          <td><a href="#/analytics/<%- subregion.id %>" class="admin-area"><%= subregion.name %></a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</article>
