<% var _ = require('underscore') %>

<article>
  <%- require('./sidebar.html')({ id: id, active: 'road-network', type: type, crumbs: crumbs }) %>
  <div id="content">

    <table class="table">
      <thead>
        <tr>
          <th><%- type.display %></th>
        </tr>
      </thead>
      <tbody>
        <% subregions.forEach(function(subregion) { %>
        <tr>
          <td><a href="#/analytics/<%- subregion.id %>" class="admin-area"><%= subregion.name %></a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</article>
