<% var _ = require('underscore'); %>
<% var statsForDisplay = require('../lib/stats.js').statsForDisplay; %>

<% if (editor) { %>
<div class="btn">
  <a href="http://openroads-api.herokuapp.com/admin/<%= id.id %>" target="_blank" class="api" title="View <%= name %> in the API">API</a>
</div>
<div class="btn">
  <a href="<%- editor %>" target="_blank" class="map" title="View <%= name %> on the map"><span class="visually-hidden">Map <%= name %></span></a>
</div>
<% } %>

<% if (responsibility) { %>
  <h2>Roads by responsibility - km</h2>

  <table class="table">
    <thead>
      <tr>
        <% _.each(responsibility, function(stat) { %>
        <td><%= stat.display %></td>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% _.each(responsibility, function(stat) { %>
        <td class="value"><%= stat.length %></td>
        <% }); %>
      </tr>
    </tbody>
  </table>
<% } %>

<h2>Roads by condition - km</h2>

<table class="table">
  <thead>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td><%= stat.display %></td>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td class="value"><%= stat.length %></td>
      <% }); %>
    </tr>
  </tbody>
</table>

<h3>Detailed breakdown</h3>
<table class="table datatable hover">
  <thead>
    <tr>
      <th><%= subtype.plural %></th>
      <% _.each(overview, function(stat) { %>
        <th class="value"><%= stat.display %></th>
      <% }); %>
    </tr>
  </thead>

  <tbody>
    <% _.each(subregions, function(region, i) { %>
    <tr>
      <td><a href="#/<%= region.id %>" class="admin-area"><%= region.name %></a></td>
      <% _.each(region.overview, function(stat) { %>
      <td class="value"><%= stat.length %></td>
      <% }); %>
    </tr>
    <% }) %>
  </tbody>

</table>
