<% var _ = require('underscore'); %>
<% var round = require('../lib/helpers.js').round; %>

<h1 id="title-location"><%= name %><% if (editor) { %><a href="<%- editor %>" target="_blank" class="btn-map" title="View <%= name %> on the map"><span class="visually-hidden">Map <%= name %></span></a><% } %></h1>

<h2>Overall Road Condition</h2>

<table class="table">
  <thead>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td><%= stat.display %></td>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td><%= round(stat.length, 2) %> km</td>
      <% }); %>
    </tr>
  </tbody>
</table>

