<% var _ = require('underscore'); %>

<% if (editor) { %>
<div id="map-this">
  <a href="<%- editor %>" target="_blank" class="btn-map" title="View <%= name %> on the map"><span class="visually-hidden">Map <%= name %></span></a>
</div>
<% } %>

<% if (responsibility) { %>
  <h2>Roads by responsibility - km</h2>

  <table class="table">
    <thead>
      <tr>
        <% _.each(responsibility, function(stat) { %>
        <td><%= stat.display %></td>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% _.each(responsibility, function(stat) { %>
        <td class="value"><%= stat.length %></td>
        <% }); %>
      </tr>
    </tbody>
  </table>
<% } %>

<h2>Roads by condition - km</h2>

<table class="table">
  <thead>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td><%= stat.display %></td>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td class="value"><%= stat.length %></td>
      <% }); %>
    </tr>
  </tbody>
</table>