<% var _ = require('underscore'); %>
<% var round = require('../lib/helpers.js').round; %>

<article>
  <div id="content">

    <h2>Overall Road Condition</h2>

    <table class="table">
      <thead>
        <tr>
          <% _.each(overview, function(stat) { %>
          <td><%= stat.display %></td>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% _.each(overview, function(stat) { %>
          <td><%= round(stat.length, 2) %> km</td>
          <% }); %>
        </tr>
      </tbody>
    </table>

  </div>
</article>
