<article>
  <%- require('./sidebar.html')({ activeMenu: 'dashboard', id: id, properties: properties}) %>

  <div id="content">
    <p><%= properties.ENGTYPE_2 %>  <%= properties.NAME_2 %></p>

    <p>This is the main dashboard for the Dauis municipality. Every region, province, municipality and barangay will have a set of dedicated pages with some key stats.</p>
    <h2>Meta</h2>
    <div class="stats">
      <div class="stats-box">
        <h2>mrspeckles</h2>
        <span class="cat">Top contributor</span>
      </div>
      <div class="stats-box">
        <h2>Feb 13, 2015</h2>
        <span class="cat">Last edit made</span>
      </div>
    </div>
    <p><a href="#" target="main-frame" class="admin-area">More about OpenRoads usage...</a></p>
    <h2>Road network</h2>
    <div class="stats">
      <div class="stats-box">
        <h2>91.8 km</h2>
        <span class="cat">road mapped</span>
      </div>
      <div class="stats-box">
        <h2>35.6%</h2>
        <span class="cat">in poor condition</span>
      </div>
    </div>
    <p><a href="road-network.html" target="main-frame" class="admin-area">More about the road network...</a></p>
    <h2>Project</h2>
    <div class="stats">
      <div class="stats-box">
        <h2>36</h2>
        <span class="cat"># of FMR</span>
      </div>
      <div class="stats-box">
        <h2>25.4 km</h2>
        <span class="cat">of TRIP</span>
      </div>
    </div>
    <p><a href="#" target="main-frame" class="admin-area">See more project stats...</a></p>
  </div>
</article>
