<div class="landing">
  <h1>Welcome to OpenRoads Philippines</h1>
  <p>Free open source collaborative mapping platform to allow you to map your local road networks and projects to support public infrastructure investment opportunities.</p>

  <ul>
    <li><a href="http://devseed.com/openroads/#/editor/">Map</a> your local roads and projects</li>
    <li><a href="http://devseed.com/openroads/#/analytics/#/phi">Analyze</a> your local road network</li>
    <li><a href="http://devseed.com/openroads/#/verification/">Verify</a> your networks and projects are fully connected</li>
  </ul>

  <a href="http://devseed.com/openroads/#/analytics/#/phi" class="stats">Detailed stats for the Philippines</a>
</div>