<% var _ = require('underscore'); %>

<article>
<%- require('./sidebar.html')({ active: 'road-network', crumbs: crumbs, id: id }) %>
  <div id="content">

    <h1><%- crumbs[crumbs.length-1].name %></h1>

    <table>
    <% stats.forEach(function (row) { %>
      <tr>
        <td><%= row.condition %></td>
        <td><%= row.kilometers %> km</td>
      </tr>
    <% }) %>
    </table>

    <h2>Road condition</h2>
    <p>A detailed breakdown of the road condition in kilometer mapped for this municipality's barangays</p>

    <table class="table">
      <thead>
        <tr>
          <th>Barangay</th>
          <th class="value">Poor</th>
          <th class="value">Fair</th>
          <th class="value">Good</th>
          <th class="value">Excellent</th>
          <th class="value">No Data</th>
        </tr>
      </thead>
      <tbody>
        <% subregions.forEach(function(subregion) { %>
        <tr>
          <td><a href="#/analytics/<%= subregion.properties.ID_4_OR %>" class="admin-area"><%= subregion.properties.NAME_4 %></a></td>
          <td class="value"><% var poor = _.findWhere(subregion.stats, {condition: 'poor'}) %><%= poor ? poor.kilometers : 0 %> km</td>
          <td class="value"><% var fair = _.findWhere(subregion.stats, {condition: 'fair'}) %><%= fair ? fair.kilometers : 0 %> km</td>
          <td class="value"><% var good = _.findWhere(subregion.stats, {condition: 'good'}) %><%= good ? good.kilometers : 0 %> km</td>
          <td class="value"><% var excellent = _.findWhere(subregion.stats, {condition: 'excellent'}) %><%= excellent ? excellent.kilometers : 0 %> km</td>
          <td class="value"><% var und = _.findWhere(subregion.stats, {condition: 'undefined'}) %><%= und ? und.kilometers : 0 %> km</td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</article>
