<% var _ = require('underscore'); %>
<% var statsForDisplay = require('../lib/stats.js').statsForDisplay; %>

<div id="road-progress"></div>

<p>Welcome to <strong>OpenRoads Philippines</strong>, the platform that allows you to progressively map the national road network and review road projects by responsibility and quality. These dashboards contain detailed road statistics for:</p>

<dl class="admin-area-count">
  <dd>17</dd>
  <dt>regions</dt>
  <dd>81</dd>
  <dt>provinces</dt>
  <dd>1 647</dd>
  <dt>municipalities and cities</dt>
  <dd>41 933</dd>
  <dt>barangays</dt>
</dl>

<p>To improve the map and make sure your local road network is well represented, you can use the <a href="http://devseed.com/openroads/#/editor/">Network Editor</a>.</p>

<h2>Overall Road Condition - in km</h2>
<table class="table">
  <thead>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td><%= stat.display %></td>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% _.each(overview, function(stat) { %>
      <td><%= stat.length %></td>
      <% }); %>
    </tr>
  </tbody>
</table>

<h2>Road Condition by Region - in km</h2>
<table class="table">
  <thead>
    <tr>
      <th><%= subtype.plural %></th>
      <% _.each(overview, function(stat) { %>
        <th class="value"><%= stat.display %></th>
      <% }); %>
    </tr>
  </thead>

  <tbody>
    <% _.each(subregions, function(region, i) { %>
    <tr>
      <td><a href="#/<%= region.id %>" class="admin-area"><%= region.name %></a></td>
      <% _.each(region.overview, function(stat) { %>
      <td class="value"><%= stat.length %></td>
      <% }); %>
    </tr>
    <% }) %>
  </tbody>

</table>
