<% var _ = require('underscore') %>

<h2>Click on a project for detailed project information.</h2>

<table class="table datatable">
  <thead>
    <tr>
      <% _.each(projects[0].headers(), function(header) { %>
      <th><%- header %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <% _.each(projects, function(project) { %>
    <tr class="link-row" data-id="<%- project.id %>">
    <% _.each(project.tableRows(), function(attribute) { %>

    <td><%- attribute %></td>

    <% }) %>
    </tr>
    <% }) %>
  </tbody>
</table>

