<% var _ = require('underscore'); %>

<article>
  <div id="content">

    <table>
    <% stats.forEach(function (row) { %>
      <tr>
        <td><%= row.condition %></td>
        <td><%= row.kilometers %> km</td>
      </tr>
    <% }) %>
    </table>

    <h1 id="one">Road condition</h1>
    <p>A detailed breakdown of the road condition in kilometer mapped</p>

    <table class="table">
      <thead>
        <tr>
          <th>Barangay</th>
          <th class="value">Poor</th>
          <th class="value">Fair</th>
          <th class="value">Good</th>
          <th class="value">Excellent</th>
          <th class="value">Undefined</th>
        </tr>
      </thead>
      <tbody>
        <% subregions.forEach(function(subregion) { %>
        <tr>
          <td><a href="#" class="admin-area"><%= subregion.properties.NAME_3 %></a></td>
          <td class="value"><% var poor = _.findWhere(subregion.stats, {condition: 'poor'}) %><%= poor ? poor.kilometers : 'N/A' %></td>
          <td class="value"><% var fair = _.findWhere(subregion.stats, {condition: 'fair'}) %><%= fair ? fair.kilometers : 'N/A' %></td>
          <td class="value"><% var good = _.findWhere(subregion.stats, {condition: 'good'}) %><%= good ? good.kilometers : 'N/A' %></td>
          <td class="value"><% var excellent = _.findWhere(subregion.stats, {condition: 'excellent'}) %><%= excellent ? excellent.kilometers : 'N/A' %></td>
          <td class="value"><% var und = _.findWhere(subregion.stats, {condition: 'undefined'}) %><%= und ? und.kilometers : 'N/A' %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</article>
