<% var _ = require('underscore') %>
<header>
  <sup><%- require('./breadcrumbs.html')({ crumbs: crumbs }) %></sup>
  
  <% if (crumbs.length) { %>
    <h1><%- crumbs[crumbs.length-1].name %></h1>
  <% } else { %>
    <h1>Philippines</h1>
  <% } %>

  <nav>
    <ul>
      <li><a class="<%= active == 'road-network' ? 'active' : '' %>" href="#/analytics/<%= id ? id : '' %>" id="sidebar-road-network">Road Network</a></li>
      <li><a class="<%= active == 'projects' ? 'active' : '' %>" href="#" id="sidebar-projects">Projects</a></li>
    </ul>
  </nav>
</header>
