/* ==========================================================================
   Page: Editor
   ========================================================================== */

#main-frame {
  border: none;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}