/* ==========================================================================
   Page: Explore
   ========================================================================== */

.analytics .site-header,
.analytics-aa .site-header,
.main .site-header,
.editor .site-header,
.explore .site-header {
  .site__nav {
    .toggle-menu,
    .toggle-search,
    .search-wrapper {
      display: none;
    }
  }
}

#map {
  height: 100%;
  width: 100%;
}

.map-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.map-panel {
  position: absolute;
  z-index: 10;
  border-radius: $base-border-radius;
  width: 16rem;
  padding: $global-spacing;
  background: #fff;
  box-shadow: 0 0 0 2px rgba($base-color, 0.04);
}

.map-options {
  top: $global-padding * 2;
  right: $global-padding;

  > *:last-child {
    margin-bottom: 0;
  }
}

.map-options-checkbox {
  float: left;
  margin-right: $global-padding * 0.5;
}

.form__option {
  margin: 0;
  padding-left: $global-spacing * 1.25;

  .form__option__ui {
    top: 0;
    height: 1rem;
    width: 1rem;
  }
}

.map-options {
  label {
    line-height: 1rem;
    font-size: 0.75rem;
    min-height: auto;
  }

  select {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $link-color;
    background: #fff;
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-weight: $base-font-bold;
    box-shadow: inset 0 0 0 2px $link-color;
    border-radius: $global-radius;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1.5rem;
    cursor: pointer;
    background: #fff url('data:image/svg+xml;utf8,' + urlencode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="5px" viewBox="0 0 10 5" enable-background="new 0 0 10 5" xml:space="preserve"><g><polygon fill="#{$link-color}" points="5,5 0,0 10,0  "/></g></svg>')) calc(100% - 0.5rem) center no-repeat;
    transition: all 0.24s ease 0s;

    &:hover,
    &:focus,
    &:active {
      @extend .antialiased;
      outline: 0;
      color: #fff;
      background: $link-color url('data:image/svg+xml;utf8,' + urlencode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="5px" viewBox="0 0 10 5" enable-background="new 0 0 10 5" xml:space="preserve"><g><polygon fill="#FFF" points="5,5 0,0 10,0  "/></g></svg>')) calc(100% - 0.5rem) center no-repeat;
    }

    /* Animation */
    transition: all 0.24s ease 0s;
  }

}

.map-legend {
  bottom: $global-padding * 2;
  right: $global-padding;
}

.map-legend-title {
  font-weight: bold;
  font-size: 0.75rem;
}

.map-legend-scale {
  height: 15px;
  background-image: linear-gradient(to right, #8CCA1B, #DA251D);
}

.map-legend-label {
  float: left;

  &:last-child {
    float: right;
  }

  font-size: 0.75rem;
}

.map__legend--split {
  font-size: 0.75rem;

  li {
    width: 50%;
    display: inline-block;
    text-align: center;
  }
}

.legend__line {
  display: inline-block;
  margin-bottom: 0.5em;
  width: 50%;
  height: 3px;
}

.legend__line--primary {
  opacity: 0.8;
  background-color: #FCF009;
}

.legend__line--secondary {
  opacity: 0.2;
  background-color: #000;
}

.map-options-label {
  line-height: 1rem;
  font-size: 0.75rem;
  min-height: auto;
}

.map-options {
  .empty {
    font-style: italic;
    opacity: 0.64;
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

.map__panel--selected {
  margin: 0.75em 0 0.5em;
  p {
    font-weight: bold;
  }
}

.map__panel--form .bttn {
  margin-top: 0.25em;
}