/* ==========================================================================
   Page: Explore
   ========================================================================== */

.explore {
  .inpage__headline {
    display: none;

    @include media(small-up) {
      display: block;
    }
  }
}