/* ==========================================================================
   Page: Faq
   ========================================================================== */

   .faq {
    section.question {
      margin-bottom: 3rem;
      h3 {
        font-size: 22px;
        margin-bottom: 6px;
      }
    }
  }