/* ==========================================================================
   Page: Tasks
   ========================================================================== */

 .task-panel {
   height: 100%;
   width: 20rem !important;

   .panel__sectitle {
     margin-bottom: $global-spacing;
   }

   .panel__subtitle {
     position: absolute;
     top: $global-spacing;
     right: $global-spacing;
     text-transform: none;
     margin: 0;

     * {
       line-height: 1rem;
       vertical-align: top;
     }

     &::before {
       @extend %collecticon-clock;
       margin-right: 0.25rem;
       font-size: 1rem;
       line-height: 1rem;
       vertical-align: top;
     }
   }
 }

 .task-group {
   margin: 0 (-$global-spacing);

   &:first-child {
     margin-top: -$global-spacing;
   }

   &:last-child {
     margin-bottom: -$global-spacing;
   }
 }

 .task-group__header {
   background: tint($base-color, 92%);
   padding: ($global-spacing / 2) $global-spacing;
   box-shadow: 0 (-$base-border-width) 0 0 $base-alpha-color;
 }

 .task-group__title {
   @extend .heading-alt;
   color: rgba($base-font-color, 0.64);
   font-size: 0.775rem;
   line-height: 1rem;
   margin: 0;
 }

 .task-group__body {
   box-shadow: 0 $base-border-width 0 0 $base-alpha-color;

   > *:last-child {
     margin-bottom: 0;
   }
 }

 .task-group__actions {
   padding: $global-spacing;
   box-shadow: 0 (-$base-border-width) 0 0 $base-alpha-color;
 }

 .road-list {
   list-style: none;
   margin: 0;
   padding: 0;
   box-shadow: 0 $base-border-width 0 0 $base-alpha-color;

   &:last-child {
     box-shadow: none;
   }
 }

 .road-list__item {
   box-shadow: 0 (-$base-border-width) 0 0 $base-alpha-color;
 }

 .road {
   background: transparent;
   transition: all 0.16s ease 0s;
 }

 .road:hover,
 .road--highlight {
   background: rgba($base-color, 0.04);
 }

 .road__header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 0.75rem ($global-spacing);

   > *:last-child:not(:first-child) {
     margin-left: auto;
   }
 }

 .road__h-actions {
   padding-left: 1rem;

   .form__option {
     margin: 0;
   }
 }

 .road__title {
   @include heading(1rem);
   line-height: 1rem;
   margin: 0;
 }

 .road__subtitle {
   @extend .heading-alt;
   color: rgba($base-font-color, 0.64);
   font-size: 0.875rem;
   line-height: 1rem;
   margin: 0.25rem 0 0 0;
   text-transform: none;
 }

 .task-prose {
   padding: $global-spacing;
   margin: 0 (-$global-spacing);

   &:first-child {
     margin-top: -$global-spacing;
   }

   &:last-child {
     margin-bottom: -$global-spacing;
   }

   > *:last-child {
     margin-bottom: 0;
   }
 }

 /* Task search
    ========================================================================== */

.task-search {
  width: 12rem;
  margin-bottom: 0;

  .form__label {
    @extend .visually-hidden;
  }
}

.Select-control {
  height: 2rem;
  border: 0;
}

.Select-input {
  height: 2rem;
}
