/* Helpers */

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* Generic styles */

html, body {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem 0;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 1rem 0;
}


#spin {
  position: absolute;
  top: 50%;
  left: 50%;
}

#admin-search {
  .results {
    small {
      color: #888;
      font-size: 0.625rem;
      text-transform: uppercase;
    }
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Basic structure */
.analytics,
#main {
  position: relative;
}

.analytics {
  padding-top: 1.45em;
}

.callout {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: normal;
  color: darken($body-font-color, 15%);
}


/* Button that takes user to map */
#map-this {
  padding-right: 3rem;
  position: relative;
}

.btn-map {
  background: $primary-color url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDNsNS0ydjEybC01IDJ2LTEyem0xMSAwdjEybC01LTEuN3YtMTJsNSAxLjd6bTUtMnYxMmwtNCAxLjZ2LTEybDQtMS42eiIvPjwvc3ZnPg==") center center no-repeat;
  background-size: 1rem;
  border-radius: 0.125rem;
  height: 2rem;
  width: 3rem;
  position: absolute;
  top: 0rem;
  right: 0;
}
