/* Helpers */

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* Generic styles */

html, body {
  box-sizing: border-box;
  color: #564f50;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  height: 100%;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
}

#admin-search {
  .results {
    small {
      color: #888;
      font-size: 0.625rem;
      text-transform: uppercase;
    }
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Basic structure */
.analytics,
#main {
  position: relative;
}

.analytics {
  padding-top: 1.45em;
}

h1 {
  font-size: 1.525rem !important;
  margin: 0 0 1.875rem;
  color: #564f50;
  font-weight: bold;

  a {
    color: $link;
  }
}

h2 {
  font-size: 1.25rem;
  margin: 1.25rem 0;
  color: #564f50;
  font-weight: bold;
}

h3.callout {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: normal;
  color: darken(#564f50, 15%);
}
