
.progress-fill {
  fill: #f4f4f4;
  stroke: #CCC;
  stroke-opacity: .4;
}

.progress-indicator {
  fill: #006699;
}

.progress-marker {
  font-size: 12px;
  text-transform: uppercase;
  fill: #747474;
}
