
.progress-fill {
  fill: #f4f4f4;
  stroke: #CCC;
  stroke-opacity: .4;
}

.progress-indicator {
  fill: $primary-color;
}

.progress-marker {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  fill: #747474;
}
