
.progress-fill {
  fill: #f4f4f4;
  stroke: #CCC;
  stroke-opacity: .4;
}

.progress-indicator {
  fill: $primary-color;
}

.progress-marker {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  fill: #747474;
}

// Admin area count

.admin-area-count {
  dl {
    margin-bottom: 1rem;
  }
  dd {
    float: left;
    font-weight: normal;
    margin-right: 0.5rem;
    text-align: right;
    width: 4rem;
  }
  dt, dd {
    margin-bottom: 0.5rem;
  }
}