nav form,
nav input {
  width: 100%;
}

nav input {
  height: 2rem;
}

nav ul {
  margin-top: 2rem;
}

nav a {
  border-left: 4px #fff solid;
  display: block;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a.active {
  border-left: 4px #006699 solid;

}

nav a:active,
nav a.active {
  font-weight: bold;
}

nav li ul {
  border-bottom: 0;
  margin: 0 0 0 1rem;
}

#sidebar {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-area {
  color: #006699;

  &:visited {
    color: #006699;
  }

  small {
    color: #888;
    font-size: 0.625rem;
    text-transform: uppercase;
  }
}

.breadcrumbs {
  margin-bottom: 2em;
  @include small-only {
    margin-bottom: .5em;
  }
}
