nav {
  form,
  input {
    width: 100%;
  }

  input {
    height: 2rem;
  }

  ul {
    margin-top: 2rem;
  }

  a {
    border-left: 4px #fff solid;
    display: block;
    padding: 0.5rem 0 0.5rem 0.5rem;

    &.active {
      border-left: 4px $primary-color solid;
    }
    &:active,
    &.active {
      font-weight: bold;
    }
  }

  li ul {
    border-bottom: 0;
    margin: 0 0 0 1rem;
  }
}

#sidebar {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar-image {
  width: 100%;
  margin: 0 0 24px;

  @include small-only {
    display: none;
  }
}

.admin-area {
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  small {
    color: #888;
    font-size: 0.625rem;
    text-transform: uppercase;
  }
}

.breadcrumbs {
  background: none;
  border: none;
  margin-bottom: 2em;
  padding: 0;
  @include small-only {
    margin-bottom: .5em;
  }
}
