// Border between the header (and footer) and the table body
$table-header-border: 1px solid #111111;

// Border of rows / cells
$table-body-border: 1px solid #dddddd;

// Row background colour (hover, striping etc are all based on this colour and
// calculated automatically)
$table-row-background: #ffffff;

// Row colour, when selected (tr.selected)
$table-row-selected: #b0bed9;

// Text colour of the interaction control elements (info, filter, paging etc)
$table-control-color: #333333;

// Highlight colour of the paging button for the current page
$table-paging-button-active: #dcdcdc;

// Hover colour of paging buttons on mouse over
$table-paging-button-hover: #111111;

// Colour to use when shading
$table-shade: black;

