$pink-color: rgba(245, 136, 136, 0.2);
$light-grey: rgb(220,220,220);
$very-light-grey: rgba(220,220,220,0.1);
$border-color: #bdb9b977;
// $border-color: #f00;

.snapshot-select-con {
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1.3%;
    height: 20%;
    min-width: 300px;
    max-width: 300px;

    border: 1px solid $border-color;
    border-radius: 10px;
}

.snapshot-stats-con {
    flex: 5;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1.3%;
    min-width: 800px;

    border: 1px solid $border-color;
    border-radius: 10px;
}

.title-con {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
}

